<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>BookLog</title>
</head>

<body> 
  <h1>BookLog</h1> 

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{ session.user_id }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

  <p>
    <a href="/new_book">Uusi kirja</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}

  <p>
    <a href="/find_book">Etsi kirja tai kirjailija</a>
  </p>

  <h2>Kirjasto</h2>

  {% if books %}
    <ul>
      {% for book in books %}
      <li><a href="/book/{{ book.id }}">{{ book.title }} - {{ book.author }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Kirjasto näyttää olevan tyhjä. Ole ensimmäinen ja lisää kirja!</p>
  {% endif %}
  <hr>
  <p>
      <a href="/page/{{ page - 1 }}">&lt;&lt; Edellinen</a>
      | Sivu {{ page }}/{{ page_count }} |
      <a href="/page/{{ page + 1 }}">Seuraava &gt;&gt;</a>
  </p>

</body>

</html>