<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Rekisteröinti</title>
</head>

<body>
  <form action="/create" method="post">
    <p>
      <label for="username">Tunnus:</label> <br />
      <input type="text" name="username" />
    </p>
    <p>
      <label for="password">Salasana:</label> <br />
      <input type="password" name="password1" />
    </p>
    <p>
      <label for="password2">Salasana uudestaan:</label> <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</body>

</html>