<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Poista Kirja</title>
</head>

<body>
  <h1>Poista kirja</h1>
  <p> Kirja: {{ book.title}}</p>
  <p> Haluatko varmasti poistaa tämän kirjan?</p>
  <form action="/remove_book/{{ book.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" name = "remove" value="Poista kirja" style="color: red;">
    <input type="submit" name = "back" value="Palaa takaisin">
  </form>
</body>

</html>